* {
  margin: 0;
  padding: 0;
  }

body{
  font-size: 20px;
  font-family: monospace;
  text-align:center;
  margin: 0 auto;
}

#title{
    color: #050A30;
    padding: 25px;

  
}

h2{
  font-weight: 800;
  font-size: 16px;
  padding: 5px;
}

h4{
  font-weight: 300;
  font-size: 14px;
}

 .cards {
  
  height:150px;
  padding: 3px; 
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;

  
  
} 

.card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  border-radius: 15px; /* 5px rounded corners */
  margin: 10px;
  padding: 30px; /* if you want space between the images */
  background-color: white;
  
}

#indicator {
  
  height: 60px;
  border: 1px solid #dddddd;
  margin: auto;
  width: 90%;
  border-radius: 50%;
  padding: 5px;
  line-height: 60px; 
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: green;
  
}

#ctindicator{
  
  padding: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.8);
  transition: 0.3s;
  border-radius: 15px; /* 5px rounded corners */
  margin: auto;
  background-color: white;
  width: 10%;
  padding: 20px;
  margin-top: 5px; 
  margin-bottom: 5px; 
  color: #919191;
  
}

#ctchart{
 padding: 5px;
 
}

#chart{
  padding: 0px;
  height: 400px;
  
}


#value1{
  padding:15px;
}

#value2{
  padding:15px;
}

#value3{
  padding:15px;
}

.sensortitle{
  color: #919191;
}

